.phone-input {
  display: flex !important;
  align-items: center;
}

.phone-input .PhoneInputCountry {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}

.phone-input .PhoneInputCountrySelect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.phone-input .PhoneInputCountryIcon {
  width: 2rem;
  height: 1.5rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
